{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Edit Comment{% endblock%}

{% block body %}
    <h1>Edit comment for blog {{ Title }}</h1>

    {{ form_start(form, {
        'method': 'POST',
        'attr': {'class': 'blogger'}
    }
    ) }}

    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>

    {{ form_end(form) }}
{% endblock %}