{% extends 'BlogBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ "Check email" }}{% endblock %}

{% block body %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock body %}
